@import "mixins";
@import "variables";
@import "normalize";
@import "animations";

html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.65;
  -webkit-font-smoothing: antialiased;
}

body {
  color: $lightGray;
}

a {
  &, &:link, &:visited, &:hover, &:active {
    color: $lightGray;
  }
}

// Backdrop: sky and trees
$sky1: #181f20;
$sky2: #211f16;
$sky3: lighten(#201712, 5%);
$sky4: #141111;
.container {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  overflow: hidden;
  cursor: move;

  background: #181f20;
  background: -moz-linear-gradient(top, $sky1 0%, $sky2 70%, $sky3 85%, $sky4 100%);
  background: -webkit-linear-gradient(top, $sky1 0%, $sky2 70%, $sky3 85%, $sky4 100%);
  background: linear-gradient(to bottom, $sky1 0%, $sky2 70%, $sky3 85%, $sky4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$sky1', endColorstr='$sky4',GradientType=0 );
}
#trees {
  position: absolute;
  bottom: -10%;
  left: 0;
}

.loading {
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  text-align: center;
  position: absolute;
  height: 60px;
  line-height: 60px;
  width: 100%;
  top: 40%;
  margin-top: -30px;
}

// Landscape: 1920:1080 aspect ratio
$worldW: 100vw;
$worldH: 1 / $aspectRatio * $worldW;
$worldY: $worldH / 2;
.world {
  width: $worldW;
  height: $worldH;
  top: 50%;
  left: 0;
  margin-left: 0;
  margin-top: -$worldY;
  position: absolute;
  overflow: hidden;
}

// Portrait: maintain aspect ratio
// $worldHP: 100vh;
// $worldWP: $aspectRatio * $worldHP;
// $worldX: $worldWP / 2;
// @media (orientation: portrait) {
//   .world {
//     width: $worldWP;
//     height: $worldHP;
//     top: 0;
//     left: 50%;
//     margin-left: -$worldX;
//     margin-top: 0;
//   }
// }

#stars,
#canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

// B-flat bar staff
$bflatP: 0.6;
$bflatW: percentage($bflatP);
$bflatH: percentage($aspectRatio / 4 * $bflatP);
$bflatX: $bflatW / -2;
$bflatY: $bflatH / -2;
#bflat {
  position: absolute;
  top: 50%;
  left: 50%;
  width: $bflatW;
  height: $bflatH;
  margin-left: $bflatX;
  margin-top: $bflatY;
  // opacity: 0.8;
  -webkit-filter: drop-shadow(0px 0px 12px rgba($lightGray, 0.5));
          filter: drop-shadow(0px 0px 12px rgba($lightGray, 0.5));
  @include animation(fadeIn 8s);

  path,
  rect {
    fill: $lightGray;
  }
}

// Bounding box
$bboxW: percentage(0.47);
$bboxH: percentage(0.21);
$bboxX: $bboxW / -2;
$bboxY: $bboxH / -2;
#bbox {
  position: absolute;
  top: 48%;
  left: 54%;
  width: $bboxW;
  height: $bboxH;
  margin-left: $bboxX;
  margin-top: $bboxY;
  @include box-sizing();

  &.guide {
    border: 1px solid red;
  }

  .bar {
    width: 100%;
    height: percentage(1/11);
    @include box-sizing();
    border-bottom: 1px solid red;
    &:first-child {
      border-top: 1px solid red;
    }
  }

  .star {
    position: absolute;
    width: 2px;
    height: 2px;
    margin-left: -1px;
    margin-top: -1px;
    background: red;
    @include border-radius(50%);
  }
}

// Menu
.menu {
  position: absolute;
  bottom: 20px;
  left: 24px;
  font-size: 1.1rem;
  letter-spacing: 0.05rem;

  &, a {
    color: $gray;
  }

}
