@import "mixins";
@import "variables";
@import "normalize";
@import "animations";

html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.65;
  -webkit-font-smoothing: antialiased;
}

body {
  color: $lightGray;
}

a {
  &, &:link, &:visited, &:hover, &:active {
    color: $lightGray;
  }
}

// Backdrop: sky and trees
$sky1: #181f20;
$sky2: #211f16;
$sky3: #201712;
$sky4: #141111;
.container {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  overflow: hidden;

  background: #181f20;
  background: -moz-linear-gradient(top, $sky1 0%, $sky2 70%, $sky3 85%, $sky4 100%);
  background: -webkit-linear-gradient(top, $sky1 0%, $sky2 70%, $sky3 85%, $sky4 100%);
  background: linear-gradient(to bottom, $sky1 0%, $sky2 70%, $sky3 85%, $sky4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$sky1', endColorstr='$sky4',GradientType=0 );
}
#trees {
  position: absolute;
  bottom: -10%;
  left: 0;
}

// B-flat bar staff
$bflatW: 70vw;
$bflatH: $bflatW / 4;
$bflatX: $bflatW / -2;
$bflatY: $bflatH / -2;
#bflat {
  position: absolute;
  top: 40%;
  left: 50%;
  width: $bflatW;
  height: $bflatH;
  margin-left: $bflatX;
  margin-top: $bflatY;
  // opacity: 0.8;
  -webkit-filter: drop-shadow(0px 0px 12px rgba($lightGray, 0.5));
          filter: drop-shadow(0px 0px 12px rgba($lightGray, 0.5));
  @include animation(fadeIn 8s);

  path,
  rect {
    fill: $lightGray;
  }
}

// Menu
.menu {
  position: absolute;
  bottom: 20px;
  left: 24px;
  font-size: 1.1rem;
  letter-spacing: 0.05rem;

  &, a {
    color: $gray;
  }

}
